<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="excelView" class="pe.com.sigamm.excel.ExcelBuilder" />
	<!-- Egresos -->
	<bean id="excelViewEgresos" class="pe.com.sigamm.excel.ExcelBuilderEgresos" />	
	<bean id="excelViewReporteEgresos" class="pe.com.sigamm.excel.ExcelBuilderReporteEgresos" />
	<bean id="excelViewReporteOperacionesBancarias" class="pe.com.sigamm.excel.ExcelBuilderOperacionesBancarias" />
	<!-- Agua Socios -->
	<bean id="excelViewAguaSocio" class="pe.com.sigamm.excel.ExcelBuilderAguaSocio" />

</beans>